/* Allgemeine Stile */
body {
  overflow-x: hidden; /* Verhindert horizontales Scrollen */
  margin: 0; /* Entfernt unnötige Ränder */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  background-color: #f9f9f9;
  color: #0055aa;
}
.top-bar {
  background-color: #0055aa;
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
  position: fixed;
  width: 100%; /* Damit sie sich über die gesamte Breite erstreckt */
  top: 0; /* Direkt oben anheften */
  left: 0;
  z-index: 9999; /* Stellt sicher, dass sie über anderen Elementen liegt */
}
.off-screen-menu {
  display: none;
}

.top-bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 20px;
}

.top-bar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.top-bar a:hover {
  text-decoration: underline;
}

.off-screen-menu {
  display: none;
}

.social-icons a {
  margin-left: 10px;
  font-size: 18px;
}

.header-logo {
  height: 170px; /* Größe anpassen */
  width: auto; /* Automatische Breite */
  max-height: 200px; /* Falls du eine Obergrenze willst */
}

header {
  background-color: transparent; /* Dunkleres Blau */
  transition: background-color 0.3s ease-in-out;
  color: white;
  display: flex;
  justify-content: space-between; /* Abstand zwischen Logo und Navigation */
  align-items: center; /* Vertikal ausrichten */
  position: sticky; /* Fixiert den Header */
  top: 34px;
  width: 100%;
  padding: 15px 20px;
  z-index: 1000; /* Damit der Header über anderen Inhalten bleibt */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Schatten für den Header */
  height: 60px; /* Feste Höhe für den Header */
}

header.scrolled {
  background-color: rgba(232, 237, 243, 1);
}

header h1 {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

nav a {
  margin: 0 15px;
  color: #002142;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s;
}

nav a:hover {
  color: #66ccff; /* Hellblau für Hover-Effekt */
}

.cta-nav {
  color: white;
  background-color: #0055aa;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-nav:hover {
  background-color: #004488;
}

.hero-fenster{
  background-image: url('../images/fensterreinigung2.jpg');
}

.hero-grundreinigung {
  background-image: url('../images/grundreinigung.jpg');
}

.hero-bueroreinigung {
  background-image: url('../images/büroreinigung.jpg');
}

.hero-homepage {
  background-image: url('../images/fensterreinigung.jpg');
}

.hero {
  /*background: url('https://raw.githubusercontent.com/amet-shqipo/Beqiri-Clean/main/images/fensterreinigung.jpg') no-repeat center center/cover;*/
  background-size: cover; /* Bild skalieren, um den Bereich zu füllen */
  background-position: center; /* Bild zentrieren */
  background-repeat: no-repeat;
  height: 500px; /* Höhe des Hero-Bereichs */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white; /* Textfarbe anpassen */
  padding: 20px;
  margin-top: -55px;
}

.hero h2 {
  font-size: 3em;
  margin: 0;
  animation: fadeIn 2s;
}

.hero p {
  font-size: 1.2em;
  margin-top: 10px;
  animation: fadeIn 3s;
}

.cta-button {
  background-color: #0055aa; /* Mittelblau */
  padding: 15px 30px;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
  margin-top: 20px;
  border-radius: 5px;
  animation: none;
}

.cta-button:hover {
  background-color: #004488; /* Dunkleres Blau für Hover */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.section {
  padding: 80px 20px;
  text-align: center;
}

.services, .why-us {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

.service-item, .why-item {
  flex: 1 1 30%;
  margin: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(50px);
}

.service-item.visible, .why-item.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.service-item:hover, .why-item:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  will-change: transform;
}

.service-item img {
  width: 100%; /* Volle Breite des Kastens */
  height: 170px; /* Höhe kannst du anpassen */
  object-fit: cover; /* Sorgt dafür, dass das Bild schön zugeschnitten ist */
  border-top-left-radius: 10px; /* Gleiche Rundungen wie der Kasten */
  border-top-right-radius: 10px;
  display: block;
}


footer {
  background-color: #002244; /* Dunkleres Blau */
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s;
}

footer a:hover {
  color: #66ccff; /* Hellblau für Hover-Effekt */
}

/*.testimonial {
  margin-top: 30px;
  background-color: #e0f7fa; /* Hellblauer Hintergrund 
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.testimonial blockquote {
  font-size: 1.2em;
  font-style: italic;
  margin: 0;
}
.testimonial p {
  margin-top: 10px;
  font-weight: bold;
}
.testimonial-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.testimonial-slide {
  min-width: 100%;
  box-sizing: border-box;
}*/

.fixed-cta {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0055aa;
  padding: 15px 30px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 1000;
  transition: background-color 0.3s;
}

.fixed-cta:hover {
  background-color: #004488;
}

.trust-badges {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.trust-badge {
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Formular Container */
.contact-form {
  background-color: #f4f4f4; /* Helles Grau für den Hintergrund */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto; /* Zentrieren */
}

/* Eingabefelder */
.contact-form input, 
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}

/* Hover-Effekt für die Eingabefelder */
.contact-form input:hover,
.contact-form textarea:hover {
  border-color: #0099cc; /* Blau, um den Fokus zu zeigen */
}

/* Textarea (größer) */
.contact-form textarea {
  height: 150px; /* Höhere Textarea für mehr Platz */
}

/* Label */
.contact-form label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 10px;
}

/* Button */
.contact-form button {
  background-color: #0099cc;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

/* Hover-Effekt für den Button */
.contact-form button:hover {
  background-color: #007bb5;
}

/* Responsive Design */
/* Responsive Design */
@media (max-width: 768px) {
  body {
      overflow-x: hidden; /* Verhindert horizontales Scrollen */
      width: 100%;
      padding: 0;
      margin: 0;
  }
  .top-bar {
      display: none !important; /* Navigation ausblenden */
      height: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
      visibility: hidden !important;
  }
  .container {
      width: 99%; /* Sorgt dafür, dass der Container die volle Breite des Bildschirms nutzt */
      padding: 0 15px; /* Verhindert, dass der Inhalt an den Rändern klebt */
  }
  .hero {
      margin-top: -90px;
  }
  .hero p, .cta-button {
      margin-bottom: 20px; /* Mehr Abstand */
  }
  header {
      margin-top: 0 !important;
      padding-top: 0 !important;
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      height: 90px; /* Höhe des Headers anpassen, je nach Logo */
      display: flex;
      justify-content: center; /* Zentriert den Inhalt */
      align-items: center; /* Vertikal ausrichten */
      box-sizing: border-box; /* Verhindert Überlauf durch Padding */
  }

  .header-logo {
      max-width: 100%; /* Stellt sicher, dass das Logo nicht breiter als der Bildschirm wird */
      height: auto; /* Höhe bleibt im Verhältnis */
      max-height: 200px; /* Hier kannst du die maximale Höhe des Logos anpassen */
      object-fit: contain; /* Verhindert unscharfe Skalierung */
      margin-top: 40px;
      margin-left: -20px;
  } 
  .header-nav {
      display: none; /* Für kleine Bildschirme ausblenden */
  }
  /* off-screen-menu */
  .off-screen-menu {
      background-color:  rgba(0, 85, 170, 0.95);
      height: 100vh;
      width: 80%;
      max-width: 450px;
      position: fixed;
      top: 0;
      right: -450px;
      display: flex;
      flex-direction: column;
      align-items: center;    
      justify-content: center;
      text-align: center;
      font-size: 2rem;
      transition: .3s ease;
      box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
      z-index: 1000;
      
  }
  .off-screen-menu.active {
      right: 0;
  }
  .off-screen-menu a {
      color: white;
      text-decoration: none;
      font-size: 1.5rem; /* Verkleinern */
      margin: 15px 0; /* Mehr Abstand */
      transition: 0.3s;
  }

  .off-screen-menu a:hover {
      color: #66ccff; /* Hellblau für Hover */
  }
  /* Hintergrund abdunkeln, wenn Menü offen ist */
  .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 998;
      transition: opacity 0.3s ease;
  }

  .overlay.active {
      display: block;
  }

  /* ham menu */
  .ham-menu {
      height: 50px;
      width: 40px;
      margin-left: auto;
      margin-top: 20px;
      position: relative;
      z-index: 1200;
  }
  .ham-menu span {
      height: 5px;
      width: 100%;
      background-color: #0055aa;
      border-radius: 25px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: .3s ease;
  }
  .ham-menu span:nth-child(1) {
      top: 25%;
  }
  .ham-menu span:nth-child(3) {
      top: 75%;
  }
  .ham-menu.active span {
      background-color: white;
  }
  .ham-menu.active span:nth-child(1) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
  }
  .ham-menu.active span:nth-child(2) {
      opacity: 0;
  }
  .ham-menu.active span:nth-child(3) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
  }

  .nav-links {
      display: none !important;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 80px;
      right: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      padding: 5px;
      overflow-x: hidden;
      white-space: nowrap;
      width: 200px;
      height: auto;
      transition: opacity 0.3s ease-in-out;
  }

  
  .contact-form input, .contact-form textarea {
      padding: 15px;
      font-size: 1.2em;
  }
  .fixed-cta {
      display: none;
  }
}
